# ═══════════════════════════════════════════════════════════════
# MongoDB Admin Credentials
# ═══════════════════════════════════════════════════════════════

Username: {{ mongodb_admin_user }}
Password: {{ mongodb_admin_password }}

# Connection URI (admin)
mongodb://{{ mongodb_admin_user }}:{{ mongodb_admin_password | urlencode }}@{{ _mongos_hosts }}/admin?authSource=admin

# mongosh
mongosh --quiet "mongodb://{{ mongodb_admin_user }}:{{ mongodb_admin_password | urlencode }}@{{ _mongos_hosts }}/admin?authSource=admin"
