# {{ ansible_managed }}
AWS_ACCESS_KEY_ID={{ s3_access_key }}
AWS_SECRET_ACCESS_KEY={{ s3_secret_key }}
AWS_REGION={{ s3_region }}
AWS_ENDPOINT={{ s3_endpoint }}
AWS_S3_FORCE_PATH_STYLE={{ s3_force_path_style }}

WALG_COMPRESSION_METHOD={{ walg_compression }}
WALG_S3_PREFIX=s3://{{ s3_bucket }}

PGHOST=127.0.0.1
PGPORT={{ postgresql_port }}
PGUSER={{ walg_auth_user }}
PGPASSWORD={{ walg_auth_password }}
# Without this, wal-g defaults the database name to PGUSER (walg) and the
# connection fails with: FATAL: database "walg" does not exist.
PGDATABASE=postgres
PGDATA=/var/lib/postgresql/pg_data
